<div id="home-container" class="col-xs-12 col-sm-12 col-lg-12 fade-in-1halfs">
	<p>
		DESCRIPTION DE QUI QUON EST LOL.DESCRIPTION DE QUI QUON EST LOL.DESCRIPTION DE QUI QUON EST LOL.DESCRIPTION DE QUI QUON EST LOL.DESCRIPTION DE QUI QUON EST LOL.DESCRIPTION DE QUI QUON EST LOL.DESCRIPTION DE QUI QUON EST LOL.DESCRIPTION DE QUI QUON EST LOL.DESCRIPTION DE QUI QUON EST LOL.DESCRIPTION DE QUI QUON EST LOL.DESCRIPTION DE QUI QUON EST LOL.DESCRIPTION DE QUI QUON EST LOL.DESCRIPTION DE QUI QUON EST LOL.DESCRIPTION DE QUI QUON EST LOL.DESCRIPTION DE QUI QUON EST LOL.DESCRIPTION DE QUI QUON EST LOL.DESCRIPTION DE QUI QUON EST LOL.DESCRIPTION DE QUI QUON EST LOL.

	</p>
	<h3 id="service-header">
		Services
	</h3>
	<table id="services-table">
	  <tr>
	    <td class="service-title">Consulting</td>
	    <td class="service-title">Design</td>
	  </tr>
	  <tr>
	    <td>
	    	DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. </td>
	    <td>
	    	DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. </td>
	  </tr>
	  <tr>
	    <td class="service-title">Development</td>
	    <td class="service-title">Deployment</td>
	  </tr>
	  <tr>
	    <td>
	    	DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. </td>
	    <td>
	    	DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. DESCRIPTION 1. </td>
	  </tr>
	</table>
</div>