<ul id="navbar-left" class="nav navbar-nav col-xs-12 col-sm-6 col-lg-8" id="application-menu">
	<a class="navbar-brand" href="#"><img src="assets/img/logo.png" alt="OOS Logo" id="logo-navbar" /></a>
	<!-- <li id="btn-menu-categories" class="btn-menu"><a href="#categories">Categories</a></li> -->
	<!-- <li id="btn-menu-products" class="btn-menu"><a href="#products">Products</a></li> -->
	<!-- <li id="btn-menu-importcsv" class="btn-menu"><a href="#"><span class="glyphicon glyphicon-floppy-save"></span> Import from CSV</a></li> -->
</ul>
<ul id="navbar-right" class="nav navbar-nav navbar-right col-xs-6 col-lg-4" id="application-account">
	<li><a href="#about" id="">About</a></li>
	<li><a href="#contact" id="">Contact</a></li>
	<li><a href="#projects" id="projects-navbar">Projects</a></li>
<!-- 	<li id="projects-list">
		<ul>
			<li><a href="#" id="">Ozone</a></li>
			<li><a href="#" id="">Pheromone</a></li>
		</ul>
	</li> -->
</ul>