<!-- Main component for a primary marketing message or call to action -->
	<!--
	<div id="temporary-left-sidebar" class="col-md-4">
		<div class="list-group">
		  <a href="#" class="list-group-item btn-category">Category 1</a>
		  <a href="#" class="list-group-item btn-category">Category 2</a>
		  <a href="#" class="list-group-item btn-category">Category 3</a>
		  <a href="#" class="list-group-item btn-category">Category 4</a>
		</div>
	</div>
	-->
	<div id="left-sidebar" class="col-xs-12 col-sm-6 col-lg-8 fade-in-1halfs">
	</div>
	<div class="row row-centered">
		<div id="right-content" class="col-xs-6 col-lg-4 col-centered fade-in-1halfs">
			<!-- <canvas id="canvas-preview" width="320" height="480"></canvas> -->
		</div>
	</div>
	<!-- <div id="preview"></div> -->

